<h1>Listing business_days</h1>

<table>
  <tr>
    <th>Start day</th>
    <th>End day</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @business_days.each do |business_day| %>
  <tr>
    <td><%= business_day.start_day %></td>
    <td><%= business_day.end_day %></td>
    <td><%= link_to 'Show', business_day %></td>
    <td><%= link_to 'Edit', edit_business_day_path(business_day) %></td>
    <td><%= link_to 'Destroy', business_day, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Business day', new_business_day_path %>
