<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :choice %><br />
    <%= f.text_field :choice %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :number_weeks %><br />
    <%= f.text_field :number_weeks %>
  </div>
  <div class="field">
    <%= f.label :number_adults %><br />
    <%= f.text_field :number_adults %>
  </div>
  <div class="field">
    <%= f.label :number_children %><br />
    <%= f.text_field :number_children %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
