<p id="notice"><%= notice %></p>

<p>
  <b>Number of people:</b>
  <%= @custom.number_of_people %>
</p>

<p>
  <b>Number of children:</b>
  <%= @custom.number_of_children %>
</p>

<p>
  <b>Email:</b>
  <%= @custom.email %>
</p>


<%= link_to 'Edit', edit_custom_path(@custom) %> |
<%= link_to 'Back', customs_path %>
