<!DOCTYPE html>

<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <!---->

  <!---->
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>

      <section id="page">



        <!---->


        <div id="booking">
          <p id="book_type" name= <%= $book_type.to_s %>></p>
          <p id="weeks" name= <%= $weeks.to_s %>></p>
          <p id="adults" name= <%= $adults.to_s %>></p>
          <p id="children" name= <%= $children.to_s %>></p>
        </div>





        <div class="main_body">

          <div id="nav_main">
            nav_main
          </div>


          <div class="container-fluid main_content">
            <%= yield %>
            <%= render '/refinery/content_page'%>


          </div>

        </div>

        <!---->


     </section>

      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
